set default=0
set timeout=1
set timeout_style=hidden

insmod all_video
insmod iso9660
insmod search_label

search --no-floppy --label DEAD_ROSE_INSTALLER --set=root

menuentry "Dead Rose OS Installer" --class dead-rose {
  search --no-floppy --label DEAD_ROSE_INSTALLER --set=root
  linux /live/vmlinuz deadrose.live=1 systemd.firstboot=no quiet splash loglevel=3 rd.systemd.show_status=false vt.global_cursor_default=0 console=tty0 console=ttyS0,115200n8
  initrd /live/initrd
}

menuentry "Dead Rose OS Installer (verbose)" --class dead-rose {
  search --no-floppy --label DEAD_ROSE_INSTALLER --set=root
  linux /live/vmlinuz deadrose.live=1 systemd.firstboot=no systemd.show_status=yes rd.systemd.show_status=yes console=tty0 console=ttyS0,115200n8
  initrd /live/initrd
}

menuentry "Dead Rose OS Installer (debug)" --class dead-rose {
  search --no-floppy --label DEAD_ROSE_INSTALLER --set=root
  linux /live/vmlinuz deadrose.live=1 systemd.firstboot=no systemd.unit=multi-user.target systemd.debug_shell=1 systemd.show_status=yes rd.systemd.show_status=yes loglevel=7 console=tty0 console=ttyS0,115200n8
  initrd /live/initrd
}
