[Unit]
Description=Validate Dead Rose installer live root
DefaultDependencies=no
Requires=run-dead\x2drose\x2diso.mount run-dead\x2drose\x2droot\x2dro.mount run-dead\x2drose\x2droot\x2drw.mount sysroot.mount
After=run-dead\x2drose\x2diso.mount run-dead\x2drose\x2droot\x2dro.mount run-dead\x2drose\x2droot\x2drw.mount sysroot.mount
Before=initrd-root-fs.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

[Service]
Type=oneshot
ExecStart=/usr/lib/dead-rose-initrd/mount-live-root
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
