[Unit]
Description=Mount Dead Rose installer writable root layer
DefaultDependencies=no
Before=initrd-root-fs.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

[Mount]
What=tmpfs
Where=/run/dead-rose-root-rw
Type=tmpfs
Options=mode=0755,nosuid,nodev,size=512M
TimeoutSec=30s
