[Unit]
Description=Mount Dead Rose installer read-only root
DefaultDependencies=no
Requires=run-dead\x2drose\x2diso.mount
After=run-dead\x2drose\x2diso.mount
Before=initrd-root-fs.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

[Mount]
What=/run/dead-rose-iso/live/rootfs.squashfs
Where=/run/dead-rose-root-ro
Type=squashfs
Options=loop,ro
TimeoutSec=60s
