[Unit]
Description=Dead Rose core service
Requires=dead-rose-state-init.service
After=local-fs.target dead-rose-state-init.service
Before=greetd.service

[Service]
Type=simple
User=deadrose-core
Group=deadrose-ipc
ExecStart=/usr/lib/dead-rose/dead-rose-core
Restart=on-failure
RestartSec=2s
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ReadWritePaths=/var/lib/dead-rose /run/dead-rose
RuntimeDirectory=dead-rose
RuntimeDirectoryMode=0750
UMask=0007

[Install]
WantedBy=multi-user.target
