[Unit]
Description=Dead Rose graphical shell
After=dead-rose-core.service systemd-user-sessions.service plymouth-quit-wait.service
Requires=dead-rose-core.service
Conflicts=getty@tty1.service

[Service]
User=deadrose-ui
Group=deadrose-ui
SupplementaryGroups=deadrose-ipc video render input
Environment=XDG_RUNTIME_DIR=/run/deadrose-ui
RuntimeDirectory=deadrose-ui
RuntimeDirectoryMode=0700
ExecStart=/usr/bin/cage -s -- /usr/lib/dead-rose/dead-rose-shell
Restart=always
RestartSec=1s
TTYPath=/dev/tty1
StandardInput=tty
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
UtmpIdentifier=tty1
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=graphical.target
